
/* MISC
================================================== */

/* CLEARFIX */
.cf:before,.cf:after {content:"";display:table;}
.cf:after {clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.cf {zoom:1;}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* OPTIONS
================================================== */

body{
	background-color: #45585F;
	font-family: Helvetica, Arial, Sans-serif;
}

#title{
	width: 300px;
	height: 72px;
	background: url(../img/options_title.png);
	margin: 0 auto;
}
#content{
	width: 650px;
	margin: 30px auto 0 auto;
	background-color: #fff;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0px 2px 40px 0px #363636;
}
h2{
	font-size: 28px;
	font-weight: 700;
	padding: 4px 0;
	background-color: #45585F;
	color: #FFF;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 5px;
}

.tip, .option{
	font-weight: 700;
	background-color: #45585F;
	border-radius: 3px;
	padding: 2px 5px;
	color: #FFF;
	margin-right: 5px;
}
p{
	color: #45585F;
	line-height: 1.4;
	text-align: justify;
	margin: 0 20px 20px 20px;
	font-size: 15px;
}
form{
	color: #45585F;
	margin: 0 20px 20px 20px;
}
.option{
	font-weight: 700;
}
label{
	color: #39ABD8;
	font-weight: 700;
}
input{
	margin-left: 20px
}

#SAVE{
	width: 109px;
	height: 35px;
	line-height: 35px;
	background-color: #39ABD8;
	color: #FFF;
	float: right;
	border-radius: 3px;
	font-weight: 700;
	font-size: 18px;
	padding: 5px;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
}

/*http://forums.mozillazine.org/viewtopic.php?f=25&t=629922&start=0*/
#darkenBackground{
	display: none;
	background-color: rgb(0, 0, 0);
	opacity: 0.7; /* Safari, Opera */
	-moz-opacity:0.70: /* FireFox */
	filter: alpha(opacity=70); /* IE */
	z-index: 2;
	height: 100%;
	width: 100%;
	background-repeat:repeat;
	position:fixed;
	top: 0px;
	left: 0px;
}

#sexySaveMessage{
	display: none;
	width: 200px;
	height: 33px;
	background-color: white;
	position: fixed;
	top: 238px;
	left: 50%;
	margin-left: -100px;
	border-radius: 3px;
	color: #39ABD8;
	font-weight: 700;
	font-size: 33px;
	text-align: center;
	padding: 20px 0;
	z-index: 3;
}